
.navMenu .menuPoint {
    color: #53606B;
    font-weight: 400;
    transition: 0.3s all;
}

.navMenu .menuPoint:hover {
    color: #fff;
}

.navMenu .active {
    color: #fff;
    font-weight: 500;
}

.navMenu .menuPoint.active .chevron::before,
.navMenu .menuPoint.active .chevron::after {
    background-color: #fff;
}

.navMenu .menuPoint .chevron {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    cursor: pointer; /* Для указания на интерактивность элемента */
}

.navMenu .menuPoint .chevron::before,
.navMenu .menuPoint .chevron::after {
    content: '';
    top: .5rem;
    position: absolute;
    width: .65rem;
    height: .1rem;
    background-color: #53606B;
    transition: all .2s ease;
}

.navMenu .menuPoint .chevron::before {
    left: 0;
    transform: rotate(45deg);
}

.navMenu .menuPoint .chevron::after {
    right: 0;
    transform: rotate(-45deg);
}

.navMenu .menuPoint:hover .chevron::before {
    transform: rotate(-45deg);
    background-color: #fff;
}

.navMenu .menuPoint:hover .chevron::after {
    transform: rotate(45deg);
    background-color: #fff;
}

.menu-circle-bg {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    position: fixed;
    transition: width 0.6s ease, height 0.6s ease, border-radius 0.6s ease;
    z-index: 10;
    transform-origin: top right;
    width: 0;
    height: 0;
  }

  /* This will make the circle visible and cover the entire screen */
  .show-menu .menu-circle-bg {
    width: 200vmax;
    height: 200vmax;
  }

  /* Hide the menu content initially */
  .menu-content {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Show the menu content once the circle animation is done */
  .show-menu .menu-content {
    opacity: 1;
    transition-delay: 0.6s; /* This delay should match the circle animation duration */
  }
  